<div class="container-login">
  <a href="/" class="btn-login">
    &#x276E;
  </a>
  <div class="form-wrapper">
    <h3>Crie sua conta</h3>

    <form class="form" action="/cadastrar" method="POST">
      <input type="text" name="nome" placeholder="Nome" required />
      <input type="email" name="email" placeholder="Email" required />
      <div class="password-wrapper">
        <input
          type="password"
          name="senha"
          placeholder="Senha"
          id="senha"
          required
        />
      </div>
      <button type="submit" class="btn entrar2">Cadastrar</button>
    </form>
  </div>
</div>